<p-dialog header="Header" appendTo="body" (onHide)="closeModal()" [(visible)]="modalVisibility"
    [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Create a new account on Crimimmo</span>
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="register()">
        <div class="input-group p-float-label">
            <input formControlName="firstname" type="text" pInputText required>
            <label htmlFor="firstname">Firstname</label>
            <app-form-error [control]="form.get('firstname')"></app-form-error>
        </div>
        <div class="input-group p-float-label">
            <input formControlName="lastname" type="text" pInputText required>
            <label htmlFor="lastname">Lastname</label>
            <app-form-error [control]="form.get('lastname')"></app-form-error>
        </div>
        <div class="input-group p-float-label">
            <p-calendar formControlName="birthdate" appendTo="body" [showIcon]="true"></p-calendar>
            <label htmlFor="birthdate">Birthdate</label>
            <app-form-error [control]="form.get('birthdate')"></app-form-error>
        </div>
        <div class="input-group p-float-label">
            <input formControlName="email" type="email" pInputText required>
            <label htmlFor="email">Email</label>
            <app-form-error [control]="form.get('email')"></app-form-error>
        </div>
        <div class="input-group p-float-label">
            <input formControlName="password" type="password" pPassword required>
            <label htmlFor="password">Password</label>
            <app-form-error [control]="form.get('password')"></app-form-error>
        </div>
        <div class="input-group">
            <input #upload type="file" (change)="uploadfile($event)" required>
            <p-button (click)="triggerUpload()">Upload my profile picture</p-button>
            <!-- <p-fileUpload formControlName="picture" (change)="uploadfile($event)" required></p-fileUpload> -->
            <app-form-error [control]="form.get('picture')"></app-form-error>
        </div>

        <p-button type="submit" (click)="closeModal()">Save</p-button>
    </form>
</p-dialog>